
body{

	margin: 0;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
	margin: auto;
	width: 60%;
	//background-color: blue;
}

/*===========
Header-part
*/

.header-area {
	background-color: #23232e;
	text-align: center;
	color: #FFF;
	padding: 50px 0 20px;
}

.header-area img {
	width: 60px;
}

.header-area h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin: 60px 0 25px;
	letter-spacing: 2px;
}

.header-area p {
	font-size: 12px;
	padding-bottom: 80px;
}

.header-area a {
	color: #FFF;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid;
	line-height: 35px;
	display: inline-block;
}

/*=========
what-i-do area
============*/

.what-i-do {
	background: #FFF url(images/white-body.png) 0 0 / cover;
	padding: 50px 0 50px;
}

.what-i-do p {
	color: #464b4f;
	text-align: center;
	padding: 10px 150px;
}

.what-i-do h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #464b4f;
}

.what-i-do .row {
	display: flex;
	flex-wrap: wrap;
}

.what-i-do .row .col-what-i-do {
	flex-basis: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
}

.col-what-i-do .pcontent p {
	padding: 0;
	text-align: left;
	color: #888a8b;
}

.col-what-i-do .pcontent h4 {
	text-transform: uppercase;
	color: #464b4f;
}

/*============
My Work=========
*/

.my-work {
	background-color: #23232e;
	color: #FFF;
	padding: 40px 0 30px;
}

.my-work h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.my-work .main-menu {
	width: 60%;
	//background-color: blue;
	margin: auto;
}

.main-menu ul {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 0;

}

.main-menu ul li {
	list-style: none;
	margin: 0 10px;
}

.main-menu ul li a {
	color: #FFF;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
}

.main-menu ul li:hover a {
	border-bottom: 3px solid #7B77C9;
}

.main-menu ul .active {
	border-bottom: 3px solid #7B77C9;
}

.row-2 {
	padding: 30px 0;
}

.my-work .row-2 {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.col-imagesbox .image-text {
	flex-basis: 33.33%;
	box-sizing: border-box;
	padding: 0 10px;
}

.col-imagesbox .image-text img {
	height: 265px;
	width: 265px;
}

.col-imagesbox .image-text h4 {
	margin: 5px 0;
}

.col-imagesbox .image-text p {
	text-transform: capitalize;
	font-size: 12px;
}

.last-3 {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0;
}

.btn {
	text-align: center;
	padding-bottom: 30px;
}

.btn a {
	background-color: #7b77c9;
	color: #FFF;
	padding: 10px 25px;
	border-radius: 3px;
	font-size: 15px;
	text-transform: capitalize;
	border: 1px solid #7b77c9;
	text-decoration: none;
}

/*============
Photography=========
*/

.photography {
	background: url(images/bg-2.png);
}

.row-3 {
	box-sizing: border-box;
}

.row-3 .row-1 img {
	height: 265px;
	width: 265px;
	padding: 8px 8px;
	display: inline-block;
}

.photography h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 60px 0 0 20px;
}

.photography p {
	color: #888a8b;
	text-align: center;
	padding: 10px 150px;
}

.photography .btn {
	padding: 50px 0;
}
