body{

	margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}


.main-menu {
	background-color: #8E5553;
}

.main-menu ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.main-menu ul li {
	list-style: none;
	position: relative;
}

.main-menu ul li a {
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	display: block;
	color: #FFF;
	font-size: 18px;
	font-family: tahoma;
	text-transform: capitalize;
	text-decoration: none;
}

.main-menu ul li:hover a {
	background-color: #cda899;
}

/*===========Sub===========*/

.main-menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0%;
}

.main-menu ul ul li {
	
}
.main-menu ul li:hover > ul {
	display: block;
}

.main-menu ul ul li a {
	color: #FFF;
}

.main-menu ul ul li:hover a {
	background-color: #8E5553;
}


/*===========Sub Sub===========*/


.main-menu ul ul ul {
	top: 0;
	left: 100%;
	width: 180px;
}

.main-menu ul ul ul li:hover a {
	background-color: #cda899;

}

.main-menu ul ul ul li a {	 
}

/*=======Sub Sub Sub=============*/

.main-menu ul ul ul ul {
	top: 0;
	left: 100%;
	width: 180px;
}

.main-menu ul ul ul ul li:hover a {
	background-color: #8E5553;
}

/*=======Sub Sub Sub Sub=============*/

.main-menu ul ul ul ul ul {
	top: 0;
	left: 100%;
	width: 180px;
}

.main-menu ul ul ul ul ul li:hover a {
	background-color: #cda899;
}












