.round {
	height: 0;
	width: 0;
	border-bottom: 100px solid #ff6b81;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	margin: 500px auto 0;
	position: relative;
	transition: 1s;
}

.main:hover .round {
	border-bottom: 100px solid #130f40;
	border-right: 75px solid transparent;
	border-left: 75px solid transparent;
	transform: rotatey(360deg);
}

.round1 {
	height: 0;
	width: 0;
	border-bottom: 90px solid #ff6b81;
	border-right: 65px solid transparent;
	border-left: 65px solid transparent;
	position: absolute;
	transition: 1s;
	top: 67.3%;
	left: 45.6%;
}

.main:hover .round1 {
	top: 53%;
	left: 45.5%;
	border-bottom: 90px solid #130f40;
	border-right: 65px solid transparent;
	border-left: 65px solid transparent;
	transform: rotatey(360deg);
}

.round2 {
	height: 0;
	width: 0;
	border-bottom: 70px solid #ff6b81;
	border-right: 45px solid transparent;
	border-left: 45px solid transparent;
	position: absolute;
	transition: 1s;
	top: 68.8%;
	left: 47%;
	position: absolute;
}

.main:hover .round2 {
	top: 43%;
	left: 46.8%;
	border-bottom: 70px solid #130f40;
	border-right: 45px solid transparent;
	border-left: 45px solid transparent;
	transform: rotatey(360deg);
}

.round3 {
	height: 0;
	width: 0;
	border-bottom: 50px solid #ff6b81;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
	position: absolute;
	transition: 1s;
	top: 70%;
	left: 48.4%;
	position: absolute;
}

.main:hover .round3 {
	top: 35.5%;
	left: 48.2%;
	border-bottom: 50px solid #130f40;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
	transform: rotatey(360deg);
}