body{

	margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.main {
    text-align: center;
}

.text-1 {

    
  
    font-size: 20px;
    margin-top: 30px;

}

.text-2 {

    
    //margin: 5px 0 0 30%; 
    font-size: 30px;
    //word-spacing: 5px;
    

    

}

.tt1 {

    //float: left;
    color: #f8c291;
    display: inline-block;
    
    

}

.tt2 {

    //float: left;
    display: inline-block;
    
    
    
}

.tt3 {

   
    
    color: #4a69bd;
    font-weight: bold;
    //display: inline-block;
    //margin-left: 8px;
    display: inline-block;



    

    
}

.bt {

    //margin: 10px 0 0 17%;
    display: inline-block;
    border: 1px dashed #f8c291;
    padding: 7px 7px;
    border-radius: 100px;


}

.bt1 {

    background-color: #3498db;
    border-radius: 30px;
    padding: 20px 100px;
    color: white;
    font-weight: bold;
    word-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
    


}













