body{

	margin: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #f2f2f2;
}


.product {
	background-color: #f9f9f9;
	height: 450px;
	box-shadow: 0 5px 15px #333;
	border-radius: 5px;
	width: 390px;
	position: relative;
	overflow: hidden;
	margin-left: 40px;
}

.product .img-box img {
	width: 400px;
	height: 400px;
	margin: auto;
	display: block;
}

.product .details {
	position: absolute;
	bottom: -170px;
	background-color: #FFFFFF;
	padding: 18px;
	height: 200px;
	transition: 1s;
}

.product .details h2 {
	font-size: 18px;
	text-transform: capitalize;
	margin: 0;
}
.product .details h2 span {
	color: #A1A1A1;
	font-size: 14px;
}

.product .details .price {
	position: absolute;
	top: 25px;
	right: 15px;
	font-weight: bold;
	color: black;
	font-size: 20px;
}

.product .details p {
	font-size: 12px;
	color: #252525;
	margin-top:0;

}

.product .details .lb {
	text-transform: capitalize;
	font-weight: bold;
	margin-top: 5px;
	display: inline-block;
}

.product:hover .details{
	bottom: 0;
}

.product:hover .details .price{
	color: red;
}
